.app-header {
  margin: 2em auto;
  text-align: center;
}

.app-header-title {
  font-size: 1.6em;
  font-weight: 600;
}

.app-main {
  width: 100%;

}

.app-main-map-container {
  margin: 0 auto;
  width: 100%;
}